body {
    background-color: slateblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: rgb(255, 210, 7);
    font-weight: bolder;
    text-shadow: 1px 1px 0px goldenrod;
}
.frame {
    background-color: steelblue;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border-radius: 20px;
}

.display {
    background-color: darkslategray;
    color: darksalmon;
    grid-column: 2 / 10;
    grid-row: 2 / 4;
}

