body {
    background-color: slateblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: rgb(255, 210, 7);
    font-weight: bolder;
    text-shadow: 1px 1px 0px goldenrod;
}
.frame {
    background-color: steelblue;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    grid-template-rows: 1fr 15% 1fr 70% 1fr;
    border-radius: 20px;
}

.display {
    background-color: darkslategray;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.keyboard {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(4, fr);
    grid-template-rows: repeat(4, fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.keyboard > button {
    transition: box-shadow 0.3s ease-in-out;
}

.keyboard > button:active {
    box-shadow: inset 1px 1px rgb(112, 128, 144);;
}


.number {
    background-color: rgb(143, 149, 155);
    border-radius: 3px;
    border-style: none;
    box-shadow: 3px 3px rgb(112, 128, 144);
}

.operator {
    background-color: rgb(170, 142, 115);
    border-radius: 3px;
    border-style: none;
    box-shadow: 3px 3px rgb(150, 122, 105);
}

.equal {
    background-color: rgb(187, 157, 75);
    border-radius: 3px;
    border-style: none;
    box-shadow: 3px 3px rgb(167, 137, 65);
}


#number-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#number-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#number-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#number-4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#number-5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#number-6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#number-7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#number-8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#number-9 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#number-0 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#number-dot {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#operator-equal {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#operator-plus {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

#operator-minus {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#operator-times {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#operator-slash {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}




